html, body, #map-canvas { 
	height: 100%; margin: 0; padding: 0; width: 100%;
}

 #alex_button{
    position:absolute;
    top: 10px;
    right:10px;
    font-size: 10px;
}

#josmol_button{
	position: absolute;
	top: 10px;
	right: 400px;
	font-size: 10px;
}

#frida_button{
	position:absolute;
	top: 10px;
	right: 200px;
	font-size: 10px;
}
#zoom_out{
	position:absolute;
	top:120px;
	right:20px;
	font-size: 10px;
}

#zoom_in{
	position:absolute;
	top:70px;
	right:20px;
	font-size: 10px;
}

#pan_up{
	position:absolute;
	top:150px;
	right:100px;
	font-size: 10px;
}

#pan_down{
	position:absolute;
	top:190px;
	right:100px;
	font-size: 10px;
}

#pan_left{
	position:absolute;
	top:170px;
	right:70px;
	font-size: 10px;
}

#pan_right{
	position:absolute;
	top:170px;
	right:130px;
}

.buttons{
    background-color: #006666;
    border-radius: 4px;
    border: solid white;
    text-align: center;
    cursor: pointer;
    padding: 10px;
    color: #fff;
    font-family: Open Sans Condensed, sans-serif;
    font-size: 10px;

}